{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-bitwise": "off",
    "no-continue": "off",
    "linebreak-style": 0
  }
}
