{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": "off"
  }
}
